---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install NFS server packages
  apt:
    name:
      - nfs-kernel-server
      - nfs-common
    state: present

- name: Create NFS export directory
  file:
    path: "{{ nfs_export_path }}"
    state: directory
    mode: '0777'

- name: Configure NFS exports
  lineinfile:
    path: /etc/exports
    line: "{{ nfs_export_path }} *(rw,sync,no_subtree_check,no_root_squash)"
    create: yes
  notify: restart nfs server

- name: Ensure NFS server is started and enabled
  systemd:
    name: nfs-kernel-server
    state: started
    enabled: yes

- name: Export NFS shares
  command: exportfs -ra
  changed_when: false
